@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #dee4e7;
}

h3 {
  margin: 0;
}

.main {
  padding: 10px;
  max-width: 1378px;
  .component-section {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    &__title {
      font-size: 1.5rem; /* 24px */
      line-height: 2rem; /* 32px */
    }
    &__main {
      margin-top: 10px;
      display: flex;
      gap: 10px;
    }
  }
}

.badges {
  flex-wrap: wrap;
}

.banners {
  flex-direction: column;
}

.cards {
  justify-content: center;
  margin-top: 30px !important;
}

.testimonial-pics {
  margin-top: 40px !important;
  margin-bottom: 40px;
  @media only screen and (max-width: 768px) {
    margin-top: 130px !important;
    margin-bottom: 0;
  }
}

.tooltips {
  margin-top: 120px !important;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
