.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 500;
  border-radius: 4px;
  padding: 12px;
  max-height: 20px;
  width: max-content;
  white-space: nowrap;
  &--rounded {
    border-radius: 12px;
  }
}
