.card {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #f9fafb;
  border-radius: 0.5rem;
  padding: 2rem 1.5rem;
  max-width: 384px;
  // this after makes rendering faster than if you just animtaed box-shadow alone
  &::after {
    content: "";
    border-radius: 8px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.1);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  &:hover::after {
    opacity: 1;
  }
  &__icon {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3f75fe;
    border-radius: 0.75rem;
    color: white;
    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &__title {
      color: #111827;
      font-size: 1.125rem;
      font-weight: 500;
      line-height: 28px;
    }
    &__para {
      color: #6b7280;
      font-size: 1rem;
    }
  }
}
