.gray {
  background-color: #f3f4f6;
  border-top-color: #f3f4f6;
  color: #1f2937;
}

.red {
  background-color: #fee2e2;
  border-top-color: #fee2e2;
  color: #991b1b;
}

.yellow {
  background-color: #fef3c7;
  border-top-color: #fef3c7;
  color: #92400e;
}

.green {
  background-color: #d1fae5;
  border-top-color: #d1fae5;
  color: #065f46;
}

.blue {
  background-color: #dbeafe;
  border-top-color: #dbeafe;
  color: #1e40af;
}

.indigo {
  background-color: #e0e7ff;
  border-top-color: #e0e7ff;
  color: #3730a3;
}

.purple {
  background-color: #ede9fe;
  border-top-color: #ede9fe;
  color: #5b21b6;
}

.pink {
  background-color: #fce7f3;
  border-top-color: #fce7f3;
  color: #9d174d;
}
